In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import warnings
%matplotlib inline
warnings.filterwarnings("ignore")

link: 'https://data.bs.ch/explore/dataset/100047/'

### Database connections

In [3]:
from pymongo import MongoClient
client = MongoClient()

In [4]:
client = MongoClient('localhost', 27017)

In [5]:
csdb = client.csdb
cscol = csdb.cscol

### Data Imports

In [6]:
import json
import requests

url = "https://data.bs.ch/api/explore/v2.1/catalog/datasets/100047/exports/json?lang=en&timezone=Europe%2FZurich"
resp = requests.get(url=url)
data = resp.json()

cscol.insert_many(data)

In [21]:
df = pd.DataFrame(list(cscol.find()))

In [22]:
df.shape

(1297, 15)

In [23]:
df.head()

,_id,starttime,stoptime,duration,watthour,kilowatthour,station_capacity,connectorid,station_location_coordinates_lat,station_location_coordinates_lng,station_connectortype,station_location,starttimetext,stoptimetext,time_measured
0,6410a79f6081ff227124d9e8,2021-08-20T10:58:06+02:00,2021-08-20T10:59:32+02:00,2,0,0.00,22,1,47.54177,7.588089,2,"{'lon': 7.5880887, 'lat': 47.54177}",2021-08-20T11:58:06+03:00,2021-08-20T11:59:32+03:00,196.0
1,6410a79f6081ff227124d9e9,2021-08-20T11:02:20+02:00,2021-08-20T11:02:25+02:00,1,0,0.00,22,1,47.54177,7.588089,2,"{'lon': 7.5880887, 'lat': 47.54177}",2021-08-20T12:02:20+03:00,2021-08-20T12:02:25+03:00,196.0
2,6410a79f6081ff227124d9ea,2021-08-20T11:08:26+02:00,2021-08-20T11:08:30+02:00,1,0,0.00,22,2,47.54177,7.588089,2,"{'lon': 7.5880887, 'lat': 47.54177}",2021-08-20T12:08:26+03:00,2021-08-20T12:08:30+03:00,196.0
3,6410a79f6081ff227124d9eb,2021-08-28T18:27:25+02:00,2021-08-28T22:07:27+02:00,221,40320,40.32,22,1,47.54177,7.588089,2,"{'lon': 7.5880887, 'lat': 47.54177}",2021-08-28T19:27:25+03:00,2021-08-28T23:07:27+03:00,187.0
4,6410a79f6081ff227124d9ec,2021-09-02T12:43:03+02:00,2021-09-02T14:55:05+02:00,133,24600,24.60,22,1,47.54177,7.588089,2,"{'lon': 7.5880887, 'lat': 47.54177}",2021-09-02T13:43:03+03:00,2021-09-02T15:55:05+03:00,183.0

In [24]:
df.columns

Index(['_id', 'starttime', 'stoptime', 'duration', 'watthour', 'kilowatthour',
       'station_capacity', 'connectorid', 'station_location_coordinates_lat',
       'station_location_coordinates_lng', 'station_connectortype',
       'station_location', 'starttimetext', 'stoptimetext', 'time_measured'],
      dtype='object')

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1297 entries, 0 to 1296
Data columns (total 15 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   _id                               1297 non-null   object
 1   starttime                         1297 non-null   object
 2   stoptime                          1295 non-null   object
 3   duration                          1297 non-null   int64
 4   watthour                          1297 non-null   int64
 5   kilowatthour                      1297 non-null   float64
 6   station_capacity                  1297 non-null   int64
 7   connectorid                       1297 non-null   int64
 8   station_location_coordinates_lat  1297 non-null   float64
 9   station_location_coordinates_lng  1297 non-null   float64
 10  station_connectortype             1297 non-null   int64
 11  station_location                  1297 non-null   object
 12  starttimetext                     1297 non-null   object
 13  stoptimetext                      1295 non-null   object
 14  time_measured                     1295 non-null   float64
dtypes: float64(4), int64(5), object(6)
memory usage: 152.1+ KB